.code{
  text-align: left;
  user-select: text;
}

.search{
  padding: 5px 9px;
}
.annotation{
  padding: 5px 12px;
}
#footer{
  height: 180px !important;
  bottom: 0;
  position: absolute;
  width: 100%;
  padding: 0;

  .reference{
    height: 140px;
    white-space: pre-line;
  }
  .labelLine{
    width: 100%;
    height: 1px;
    background-color: #dedede;
    cursor: n-resize;
    z-index: 999;
    border-top: solid 2px #fff;
  }
}