.status {
    padding: 0;
    margin: 6px 0;
    li {
        list-style: none;
        text-align: left;
        i {
            display: inline-block;
            box-shadow: 0px 0px 1px #9c9c9c inset;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
        }
    }
}

.case{
    overflow-y: auto;
    overflow: hidden;
    >header,>body{
        text-align: left;
        padding-top: 20px;
    }

    >header{
        button{
            margin: 0 10px;
        }
    }

    body{
        height: 400px;
        padding-bottom: 0;
    }
}



.iconBtn:hover{
    color: red;
    border-radius: 5px;
}

.case_table{
    overflow: auto;
}

.createHint{
    display: flex;
    flex-direction: row;
    max-width: 400px;
    >div{
        flex: 1;
        cursor: pointer;
        position: relative;
        >img{
            width: 100%;
            height: 240px;
        }
        h3{
            position: absolute;
            bottom: 20px;
            left: 0;
            right: 0;
            margin: 0 auto;
            text-align: center;
            color: #909090;
        }
    }

    >div:hover >h3{
        color: black;        
    }
}

table{
    width: 100%;
    font-size: 14px;
    border-spacing:0;
    color: #606266;

    tr:hover{
        background-color: #fbfbfb;
        color: #303133;
    }

    tr>td{
        height: 20px;
    }

    .opts{
        >i{
            margin: 0 3px;
        }
        .iconrun:hover{
            color: red;
            cursor: pointer;
        }
    }
}

.debut-enter-active {
    animation: debut .5s;
    overflow:hidden;
}
.debut-leave-active {
    animation: debut .5s reverse;
    overflow:auto;
}

@keyframes debut {
    0% {
        opacity: 0;
    }
    50% {
        transform: rotate(7deg);
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

header{
    .empty{
        background-color: #d7d5d5;
        color: #303030;
    }
    .empty:hover{
        background-color: #d7d7d7;
        color: black;
    }
}


.cherryBtn{
    border-style: none;
    background-color: #ef2929;
    border-radius: 5px;
    color: #ffffff;
    padding: 10px 20px;
    opacity: 0.8;
    margin-left: 10px;
    &:hover{
        color: #fffafa;
        background-color: #d80606;
        opacity: 1;
    }

    &.cancel{
        background-color: #f0f0f0;
        color: #ff4343;
    }

    &.cancel:hover{
        color: #ff4343;
        background-color: #e7dfdf;
    }
}